* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  display: block;
  margin: auto;
}
.border {
  border: 2px solid black;
}
.block {
  position: relative;
  border: 2px solid red;
  width: 40px;
  height: 40px;
  top: 50px;
  left: 50px;
}
.onSelect {
  display: none;
}
